.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;

}

form:not(.standart) {
    border: 1px solid #888;
    padding: 30px;
}

input[type=text], input[type=email], input[type=number], input[type=datetime-local] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

input[type=submit] {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}



select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}





button {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:100%
   
}



.field-validation-error {
    color: #b94a48;
    display: block;
    margin-top:10px;
    margin-bottom:10px;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input.valid {
    border: 1px solid #16a085;
}

.validation-summary-errors {
    color: #b94a48;
}


h1 {
    color: #74a7f7;
}
#my_img{
    width:600px;
}

.container {
    width: 400px;
    
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

table, th, td {
    border: 1px solid #ddd;
}

.list {
    background-color: skyblue;
    padding-left: 10px;
    padding-right: 10px;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #afe6fa;
}


tr:hover {
    background-color: #d6f4ff;
}



header {
    background-color: #333;
    padding: 10px;
    color: #fff;
}
header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
header ul li {
     display: inline-block;
       margin-right: 20px;
 }

     header ul li a {
         text-decoration: none;
          color: #fff; 
       }

       header ul li a:hover {
             border-bottom: 2px solid #fff;
        }