<header>
	<ul>
		<li><a href="@Url.Action("Index", "Home")">Користувачі</a></li>
		<li><a href="@Url.Action("Create", "Home")">Створити Користувача</a></li>
		<li><a href="@Url.Action("ViewCompany", "Home")">Компанії</a></li>

	</ul>
</header>
